h1 {
  text-align: center;
}
.wrapper {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}
.wrapTable {
  margin: 2% 0%;
}
.buttonAdd {
  position: relative;
  margin-top: 40%;
  margin-bottom: 10%;
  margin-left: 46%;
  cursor: pointer;
  color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 10px;
  width: 25%;
  font-size: 1rem;
  transition: all 0.2s;
  background: rgb(73, 138, 211);
  text-decoration: none;
}
.buttonAdd:focus {
  outline: none;
  box-shadow: none;
  transition: all 0.5s ease 0;
  background-color: rgb(81, 140, 228);
}
.backButton {
  position: relative;
  margin-left: 6%;
  cursor: pointer;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  width: 25%;
  font-size: 1rem;
  transition: all 0.2s;
  background: rgb(136, 212, 105);
  text-decoration: none;
}
.backButton:focus {
  outline: none;
  box-shadow: none;
  transition: all 0.5s ease 0;
  background-color: rgb(26, 124, 26);
}
