.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}
.h1 {
  font-size: 40px;
  text-align: center;
  margin: 3% auto;
}
.tasksInputs {
  background: rgb(245, 244, 244);
  border-radius: 10px;
  padding: 10px;
}
.addTaskButton {
  position: relative;
  margin-top: 10px;
  margin-left: 25%;
  cursor: pointer;
  padding: 10px;
  border: 2px solid rgb(189, 240, 169);
  border-radius: 10px;
  width: 15%;
  font-size: 1rem;
  transform: translateY(0);
  transition: all 0.2s;
  background: rgb(189, 240, 169);
}
.deleteTaskButton {
  position: relative;
  margin-top: 10px;
  margin-left: 25%;
  cursor: pointer;
  padding: 10px;
  border: 2px solid rgb(245, 121, 121);
  border-radius: 10px;
  width: 15%;
  font-size: 1rem;
  transform: translateY(0);
  transition: all 0.2s;
  background: rgb(245, 121, 121);
}
.submitButton {
  position: relative;
  margin-top: 20px;
  margin-left: 29%;
  cursor: pointer;
  color: white;
  padding: 15px;
  border: 2px solid rgb(81, 140, 228);
  border-radius: 10px;
  width: 20%;
  font-size: 1rem;
  transform: translateY(0);
  transition: all 0.2s;
  background: rgb(81, 140, 228);
}
.submitButton:focus {
  outline: none;
  box-shadow: none;
  transition: all 0.5s ease 0;
  background-color: rgb(30, 90, 180);
}
.backButton {
  position: relative;
  margin-top: 10px;
  margin-left: 5%;
  cursor: pointer;
  padding: 10px;
  border: 2px solid rgb(224, 224, 224);
  color: black;
  border-radius: 10px;
  width: 15%;
  font-size: 1rem;
  transform: translateY(0);
  transition: all 0.2s;
  background: rgb(224, 224, 224);
  text-decoration: none;
}
.backButton:focus {
  outline: none;
  box-shadow: none;
  transition: all 0.5s ease 0;
  background-color: rgb(172, 172, 172);
}
.radioHeader {
  margin: 2% -19%;
  font-weight: bold;
}

.radioButtons {
  margin-left: 37%;
}

.tasksInputs {
  margin-left: -59%;
}

@media (max-width: 600px) {
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 0px;
  }
  .submitButton {
    width: 40%;
    margin-left: 30%;
  }
  .radioHeader {
    margin: 0% -54%;
  }
  .addTaskButton {
    margin-left: 5%;
    width: 90%;
  }
  .deleteTaskButton {
    margin-left: 5%;
    width: 90%;
  }
}
